<h2>New Celebrity</h2>
<form method="POST" action="/celebrities/create">
  <input id="input-name" type="text" placeholder="Name" name="name" />
  <input
    id="input-occupation"
    type="text"
    placeholder="Occupation"
    name="occupation"
  />
  <input
    id="input-catchPhrase"
    type="text"
    placeholder="Catch phrase"
    name="catchPhrase"
  />
  <button>Submit</button>
</form>